/*CORPS DE LA PAGE*/
body
{
  background-color: #f2f1e7;
}

/*HEADER*/
.nav
{
  background-color: #f2f1e7;
}

.nav-link
{
  color: #915b4a;
}

.nav-link:hover
{
  color:  #000000;
}

/*LE JUMBOTRON*/

.jumbotron
{
  background-image: url(images/image1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  box-shadow: 10px 10px 10px 8px grey;
}

h1
{
  color: #f2f1e7;
  font-size: 50px;
}

#one
{
  color:#915b4a;
  font-size: 20px;
  text-align: left;
}

.btn
{
  background-color:#915b4a;
  color:#f2f1e7;
}

/*LE SEPARATEUR*/
.d-block
{
  background-color: #5c4d4d;

}
.section
{
  background-color: #f2f1e7;
}

h2
{
  text-transform: uppercase;
}

/*PARTIE A PROPOS*/
.textabout
{
  font-size: 15px;
  text-align: center;
  text-align: justify;
  border: 3px solid #f2f1e7;
  margin-bottom: 10px;
  padding: 15px 15px 15px 15px;
  box-shadow:  10px 10px 10px  grey;
  margin-left: 20px;
  margin-right: 20px;
}





.me
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 550px;
  height: 350px;
  margin-bottom:  50px;
  margin-top: -10px;
  box-shadow: 8px 12px 18px #f2f1e7;
}

/*PARTIE MON PARCOURS*/
/*MES ETUDES ET XP PRO*/

h3
{
  color: #5c4d4d;
}
.stude
{
  border : 1px solid #f2f1e7;
  box-shadow:8px 12px 18px #5c4d4d;
}

.graduateicon
{
  padding: 15px 15px 15px 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.arrowicon
{

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.brainicon
{
  padding: 15px 15px 15px 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tvicon
{
  padding: 15px 15px 15px 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mainicon
{
  padding: 15px 15px 15px 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*FOOTER*/

#contact
{
  background-color:#5c4d4d;
  box-shadow:8px 12px 18px #5c4d4d;
}
